doctype html 
html
    head
        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/style.css")
        link(rel="icon", href="/logo.png")
        title Riya Dance Academy
    body
        include ./navbar.pug 
        block content
        include ./footer.pug
        script(src="/index.js") 
