section#introSection 
    div Welcome to My Dance Academy 
    div Eat Sleep Dance Repeat 
section#missionSection
    h1 Our Mission
    div.container    
        div.card
            h2 Dance Experts
            div.card-box
                div.img
                    img(src="/img1.jfif")
                div.card-content
                    p This is the best dance academy of universe
        div.card
            h2 Our Taught Dancers
            div.card-box
                div.img
                    img(src="/img2.jfif")
                div.card-content
                    p This is the best dance academy of universe
        div.card
            h2 Our Achievements
            div.card-box
                div.img
                    img(src="/img3.jfif")
                div.card-content
                    p This is the best dance academy of universe
section#sponsorsSection 
    h1 Our Sponsors
    div#sponsors
        img(src="/apple.png", alt="loading image" class="spImage")
        img(src="/audi.png", alt="loading image" class="spImage")
        img(src="/logo.png", alt="loading image" class="spImage")
