doctype html 
html 
    head 
        title Found an Error
        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/style.css")
    body
        div.errorContainer
            div.errorBox 
                img(src="/error.png" alt="loading image")
                h1 Some Error Occured 
                p Make sure that you have provided right information