nav#navbar
    ul  
        div#logo #[img(src="/logo.png")] 
        li #[a(href="/") Home] 
        li #[a(href="/myself") MyPage] 
        li #[a(href="/logout") Logout] 
        li #[a(href="/login") Login] 
        li #[a(href="/signup") Sign Up]